<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gptlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatBot"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SupportPage"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".Introduction5"
            android:exported="false" />
        <activity
            android:name=".Introduction4"
            android:exported="false" />
        <activity
            android:name=".Introduction3"
            android:exported="false" />
        <activity
            android:name=".Introduction2"
            android:exported="false" />
        <activity
            android:name=".Introduction1"
            android:exported="false" />
        <activity
            android:name=".ConverstationScreen"
            android:exported="false" />
        <activity
            android:name=".MainNavigation"
            android:exported="false" />
        <activity
            android:name=".ChatScreen"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>